<h1>Nouvel email depuis Samedi 28</h1>

<p><b>From: </b><%= @contact.name %></p>
<p><b>Email: </b> <%= @contact.email %></p>
<p><b>Address: </b> <%= @contact.address %></p>
<p><b>Phone: </b> <%= @contact.phone %></p><br>
<p><b>Message: </b> <%= @contact.message %></p>
