<div id="js-scroll-navbar" class="navbar navbar-expand-sm navbar-light navbar-style fixed-top">
  <%= link_to root_path do %>
    <%= image_tag "logo_samedi28.png" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="nav-items" id="navbarSupportedContent">
    <%= link_to "Accueil", root_path, class: "nav-link" %>
    <%= link_to "Univers", univers_path, class: "nav-link" %>
    <%= link_to "E-shop", mobilier_path, class: "nav-link" %>
    <%= link_to "Conseil", conseil_path, class: "nav-link" %>
    <%= link_to "Ateliers", event_path, class: "nav-link" %>
  </div>
  <div class="cart">
    <%= link_to cart_path(@current_cart) do %>
      <i class="fab fa-opencart"></i>
      <% cart = @current_cart %>
      <% items =0 %>
      <% cart.line_items.each do |item| %>
       <% items += item.quantity %>
      <% end %>
      <% if items > 0 %>
        <p><%= items %></p>
      <% end %>
    <% end %>
  </div>
</div>
<div class="margin-navbar"></div>

