<div class="navbar navbar-expand-sm navbar-light navbar-style">
  <div>
    <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="nav-items" id="navbarSupportedContent">
    <%= link_to "Univers", "#", class: "nav-link" %>
    <%= link_to "Boutique", "#", class: "nav-link" %>
    <%= link_to "Studio", "#", class: "nav-link" %>
    <%= link_to "Ateliers", "#", class: "nav-link" %>
  </div>
</div>

