<div id="js-scroll-navbar" class="navbar navbar-lewagon fixed-top">
  <%= link_to root_path do %>
    <%= image_tag "logo_samedi28.png" %>
  <% end %>

  <div class="items-menu">
    <%= link_to "Accueil", root_path %>
    <%= link_to "Univers", univers_path %>
    <%= link_to "E-shop", boutique_path %>
    <%= link_to "Conseil", conseil_path %>
    <%= link_to "Ateliers", event_path %>
  </div>

  <div class="basket">
    <%= link_to cart_path(@current_cart) do %>
      <i class="fab fa-opencart"></i>
      <% cart = @current_cart %>
      <% items =0 %>
      <% cart.line_items.each do |item| %>
       <% items += item.quantity %>
      <% end %>
      <% if items > 0 %>
        <p><%= items %></p>
      <% end %>
    <% end %>
  </div>
</div>
