<%= simple_form_for @order do |f| %>
  <div class="form-top">
    <%= f.input :fullname, label: false, placeholder: 'Votre prénom & nom de famille' %>
    <%= f.input :phone, label: false, placeholder: 'n° de téléphone' %>
    <%= f.input :email, label: false, placeholder: 'email' %>
    <%= f.input :address, label: false, placeholder: 'adresse de livraison' %>
    <%= f.input :zip_code, label: false, placeholder: 'Code postal' %>
    <%= f.input :city, label: false, placeholder: 'Ville' %>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="cgv">
        <label class="form-check-label" for="cgv">J'accepte les conditions générales de vente</label>
    </div>
  </div>
  <div>
    <span>
      Total de votre commande:
    </span>
    <span>
      <%= @cart.sub_total %> €
      <p>Mode de livraison: <%= @cart.delivery %></p>
    </span>
  </div>
    <%= f.submit 'confirmer', class: "btn btn-primary"%>
<% end %>

