<%= simple_form_for @order do |f| %>
  <%= f.input :email, label: false, placeholder: 'email' %>
  <%= f.input :address, label: false, placeholder: 'address' %>
  <%= f.input :zip_code, label: false, placeholder: 'zip_code' %>
  <%= f.input :city, label: false, placeholder: 'city' %>

 <div>
  <h2>
    <%= 'checkout' %>
  </h2>
  <div>
    <span>
      Total:
    </span>
    <span>
      <%= @cart.sub_total %>
    </span>
  </div>
    <%= f.submit 'pay', class: 'btn btn-primary' %>
</div>
<% end %>
