<div class="container" style="margin-top: 100px;">
  <div class="row py-4">
    <div class="col">
      <h1 style="text-decoration: underline;">Order n°<%= @order.id %></h1>
      <ul class="list-unstyled">
        <li><strong>STATUT:</strong> <%= @order.status %></li>
        <li><strong>DATE:</strong> <%= @order.created_at.to_date %></li>
        <li><strong>TOTAL:</strong> <%= @order.amount %>€</li>
        </li>
      </ul>
      <p>Livraison estimée dans<strong> 5 jours</strong>.</p>
    </div>
  </div>
  <div class="button-diagonal" id="button-home-univers">
    <%= link_to root_path do %>
      <button>Accueil</button>
    <% end %>
    <span class="triangle-top-left"></span>
    <span class="triangle-bottom-right"></span>
  </div>
</div>
