<div class="container" style="margin-top: 100px;">
  <div class="category-cards">
    <%= link_to art_table_path do %>
      <div class="category-card">
          <h3>Art de la table</h3>
      </div>
    <% end %>
    <%= link_to decoration_path do %>
      <div class="category-card">
        <h3>Décoration</h3>
      </div>
    <% end %>
    <%= link_to luminaires_path do %>
      <div class="category-card">
        <h3>Luminaires</h3>
      </div>
    <% end %>
    <%= link_to linge_path do %>
      <div class="category-card">
        <h3>Linge de maison</h3>
      </div>
    <% end %>
    <%= link_to mobilier_path do %>
      <div class="category-card">
        <h3>Mobilier</h3>
      </div>
    <% end %>
  </div>
</div>
