<div class="container" style="margin-top: 100px;">
  <div class="atelier">
    <div class= "atelier-left">
      <img src="assets/atelier-left.png" alt="">
    </div>
    <div class= "page-atelier-right">
      <h3>Les prochains ateliers à l'Atelier 28</h3>
      <% @events = Event.where(upcoming: true).order(created_at: :desc) %>
      <div class="event-cards">
        <% @events.each do |event| %>
          <div class="event-card">
            <h3><%= event.title %></h3>
            <span><%= cl_image_tag event.cover.key%></span>
            <p><%= event.description %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="page-atelier-bottom">
    <h3>Retrouvez également tous les précédents évènements à l'Atelier 28</h3>
    <div class="cards">
      <% @events = Event.where(upcoming: false).order(created_at: :desc) %>
      <% @events.each do |event| %>
        <div class="event-card">
          <h3><%= event.title %></h3>
          <span><%= cl_image_tag event.cover.key%></span>
          <p><%= event.description %></p>
        </div>
      <% end %>
      <div class="button-diagonal" id="button-home-univers">
        <%= link_to root_path do %>
          <button>Accueil</button>
        <% end %>
        <span class="triangle-top-left"></span>
        <span class="triangle-bottom-right"></span>
      </div>
    </div>
    <br>
  </div>
</div>

