<div class="container">
  <% if @line_items.empty? %>
    <div>
      <%= link_to "Continuer Shopping", products_path, class: 'btn btn-secondary' %>
    </div>
  <% else %>
    <div>
      <%= link_to "Continuer Shopping", products_path, class: "btn btn-primary"%>
    </div>
    <div>
      <div>
        <h2>
          <%= "My Cart"%>
        </h2>

        <table>
          <thead>
            <tr>
              <th></th>
              <th><%='price'%></th>
              <th><%='quantity'%></th>
              <th><%='total'%></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @line_items.each do |line_item| %>
              <tr>
                <td>
                  <%= cl_image_tag line_item.product.photo.key, height: 100, width: 70, crop: :fill, quality: 100, gravity: :auto %>
                </td>
                <td>
                  <%= line_item.product.name %>
                </td>
                <td>
                  <%= line_item.product.price %>
                </td>
                <td>
                <%= link_to 'réduire quantité', line_item_reduce_path(id: line_item), method: :post %>
                <%= link_to 'ajouter quantité',line_item_add_path(id: line_item), method: :post %>
                <span>
                  <%= line_item.quantity %>
                </span>
                <span>
                  <%= line_item.quantity %>
                </span>

                </td>
                <td>
                  <%= humanized_money_with_symbol(line_item.total_price) %>
                </td>
                <td>
                  <%= link_to 'enlever du panier', line_item_path(line_item), method: :delete%>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'empty_cart', cart_path, method: :delete, data: {confirm: 'are_you_sure?'} %>
      </div>
      <span>
        Total:
      </span>
      <span>
        <%= humanized_money_with_symbol(@cart.sub_total) %>
      </span>
      <%= link_to 'order', new_order_path, class: "btn btn-primary"%>
  <% end %>
</div>
