<h3>Nouvelle inscription à <%= @subscription.firstname %></h3>

<p><%= @subscription.firstname %> <%= @subscription.lastname %></p>
<p><%= @subscription.email %></p>
<p><%= @subscription.phone %></p>

