<h3>Nouvelle inscription à <%= @subscription.event.title %></h3>

<p>Participant => <%= @subscription.firstname %> <%= @subscription.lastname %></p>
<p>email => <%= @subscription.email %></p>
<p>téléphone => <%= @subscription.phone %></p>

<h3>Samedi 28</h3>
