<h3>Nouvelle inscription à <%= @subscription.firstname %></h3>

<p><%= @subscription.firstname %> <%= @subscription.lastname %></p>
<p>email => <%= @subscription.email %></p>
<p>téléhphone => <%= @subscription.phone %></p>

<h3>Samedi 28</h3>
