<h3>Nouvelle commande sur la boutique</h3>

<p>La commande n° <%= @order.id %> est confirmée.</p>
<p>--------------------------------</p>
<p>Client : </p>
<%= @order.fullname %>
<%= @order.email %>
<%= @order.phone %>
<%= @order.address %>
<%= @order.zip_code %>
<%= @order.city %>
<p>--------------------------------</p>
<p>Détails :</p>
<ul>
  <% @order.line_items.each do |item| %>
    <li><%= item.quantity %> X <%= item.product.name %></li>
    <p>----------------</p>
  <% end %>
</ul>
<p>--------------------------------</p>
<p>Total de la commande: <%= @order.amount %> €.</p>
<p>--------------------------------</p>
<p>Nous restons à votre disposition.</p>
<br>
<h3><strong>Samedi 28</strong></h3>
<p>ZA Les castors</p>
<p>83320 - Carqueiranne</p>
<p><i class="fas fa-mobile-alt"></i> 06 71 99 89 56</p>
<p><i class="fas fa-envelope"></i> boutique@samedi28.com</p>
<br>
<p>--------------------------------</p>
<p>Cet email est généré automatiquement. Merci de ne pas y répondre.</p>
<p>--------------------------------</p>


    t.string "email"
    t.string "address"
    t.string "zip_code"
    t.string "city"
