<div class="container "style="margin-top: 100px;">
  <div class="row py-4">
    <div class="col">
      <h1>Récapitulatif de votre commande :</h1>
      <% items = 0 %>
      <% @order.line_items.each do |item| %>
        <% items += item.quantity%>
      <% end %>
      <p>Commande de <strong><%= items %> article(s)</strong> pour  un montant de <strong><%= @order.amount %> €</strong></p>
      <div class="button-diagonal">
        <button id="pay">Payer</button>
      </div>
      <p>Vous allez être redirigé vers notre prestataire Stripe pour un paiement sécurisé.</p>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
   <!--    to reduce quantity of product -->
  <!--  <script>
     const paymentButton = document.getElementById('pay');
     paymentButton.addEventListener('click', () => {
       const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
       stripe.redirectToCheckout({
         sessionId: '<%= @order.checkout_session_id %>'
       });
     });
   </script> -->
    </div>
  </div>
</div>
