
<div class="cards" style="margin-top: 100px;">
  <% @products.each do |product| %>
    <div class="wrapper">
      <div class="top">
        <span><%= cl_image_tag product.photo.key, class: "front-picture"%></span>
        <span><%= cl_image_tag product.cover.key, class: "back-picture"%></span>
      </div>
      <div class="bottom">
        <div>
          <h3><%= product.name %></h3>
          <h5><%= product.price %>€</h5>
        </div>
        <div>
          <a href="#"><i class="fas fa-cart-plus"></i></a>
          <h5><%= link_to "en savoir +", product_path(product) %></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>
<br>
