
<div class= "container">
  <div class= "product">
    <%= cl_image_tag @product.photo.key %>
    <%= cl_image_tag @product.cover.key %>
    <div class= "product-description">
      <div class= "description">
        <h1><%= @product.name %></h1>
        <h3><%= @product.description %></h3>
      </div>
      <div class= "price">
        <h3><%= humanized_money_with_symbol(@product.price)%></h3>
        <%= link_to "Ajoutez à votre panier", line_items_path(product_id: @product.id), method: :post, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <%= link_to "Retour à la Boutique", products_path, class: "btn btn-primary" %>
</div>
