<div>
  <h1>
    <%= @product.name %>
  </h1>
  <p><%= @product.description %></p>
  <span><%= cl_image_tag @product.photo.key, height: 250, width: 175, crop: :fill, quality: 100, gravity: :auto %></span>
  <h3>
    <%= humanized_money_with_symbol(@product.price)%>
  </h3>
  <br>
  <%= link_to "Add to cart", line_items_path(product_id: @product.id), method: :post, class: "btn btn-primary" %>
</div>
